<!doctype html>
<html>
<head>
	<script src="../lib/angular.min.js"></script>
</head>
<body>
	<div id = "firstApp" ng-app="defaultApp" ng-init="name='InitName'">
		<p>name: <input type="text" ng-model="name"/></p>
		<h1>Hello {{name}} from ng-model</h1>
		<h1>Hello <span ng-bind="name"></span> from ng-bind</h1>
		<h1>First AngularJs expression:{{5+5}}</h1>
	</div>	
	<div id = "secondApp" ng-app="myApp" ng-controller="myCtr">
		Name: <input type="text" ng-model="firstName"/><br/>
		Family Name: <input type="text" ng-model="lastName"/><br/>
		Full Name: {{firstName + " " + lastName}} from controller varaible
	</div>
	<script>
		var myApp = angular.module('myApp', []);
		var defaultApp = angular.module('defaultApp', []);
		myApp.controller('myCtr', function($scope){
			$scope.firstName = "Jone";
			$scope.lastName = "San";
		});
		angular.bootstrap(document.getElementById('secondApp'), ['myApp']);
	</script>
</body>
</html>